<div class="d-flex justify-content-center">
  <div class="card col-4">
    <div class="card-header">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav row">

              <a class="nav-item nav-link active" routerLink="/Login">
                <h1 class="col-6">Login</h1>
              </a>


              <a class="nav-item nav-link" routerLink="/Register">
                <h1 class="col-6">Register</h1>
              </a>

          </div>
        </div>
      </nav>
    </div>

    <div class="card-body">
      <router-outlet></router-outlet>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>
